body {
  background-color: #f5e0dc;
  padding: 20px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

li {
  list-style-type: none;    
}

.name-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px;
  width: 50px;
}

.round {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .mymemes {
    width: 100px;
    height: 100px;
    max-width: 150px;
    max-height: 150px;
  }

  .card-text {
    font-size: 9px;
  }
}

.situation {
  width: 350px;
  min-height: 150px;
  max-height: 250px;
}

.card-text {
  font-size: 16px;
}

.mymemes {
  min-width: 20px;
  min-height: 20px;
  max-width: 200px;
  max-height: 200px;
}

.players {
  display: flex;
  justify-content: space-evenly;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}