* {
  color: black;
  z-index: 2;
}

body {
  /* background: linear-gradient(to bottom, #8edeff 0%, #edf7fc 100%); */
  background: #8edeff;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  min-height: 100vh;
}

.game{
  background: linear-gradient(to bottom, #8edeff 0%, #edf7fc 100%);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

li {
  list-style-type: none;    
}

span {
  font-style: italic;
  color: gray;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

button img {
  /* object-fit: cover; */
  transform: translateZ(0);
}

img:hover {
  box-shadow: 0px 0px 15px rgb(192, 98, 255);
}

img:active {
  box-shadow: 0px 0px 15px yellow;
}

.header img:active,
.emojies-bg img:active, 
.header img:hover,
.emojies-bg img:hover {
  box-shadow: none;
}

footer svg:hover {
  stroke: orange;
}

.dark,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark a,
.dark .centered-modal {
  color: white;
}

.dark,
.dark .centered-modal  {
  background: black;
}

.dark svg {
  stroke: white;
}

.dark footer svg:hover,
.dark a:hover {
  stroke: yellow;
}

.modal-open {
  overflow: visible !important;
}

.centered-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #8edeff 0%, #edf7fc 100%);
  border-color: gray;
}

.winners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1.5vw;
}

.modal-input {
  font-size: 16px;
  font-weight: 600;
  color: black;
  border-radius: 8px;
}

.modal-button {
  margin-top: 15px;
}

.link-text {
  margin-top: 15px;
}

.link-block {
  display: block;
  width: 90%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255);
}

.room-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.room-link p{
  margin: 0 auto;
  font-size: 22px;
  font-weight: bold;
  line-height: 100%;
}

.share-icon {
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.few-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.share {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.share-icon-end {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}



.header {
  margin: auto;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-rules {
  font-weight: lighter;
  text-decoration: underline;
}

.mode {
  margin-bottom: 15px;
  width: 4vw;
  height: 4vw;
}

.phone-bg,
.tablet-bg {
  display: none;
}

.emojies-bg {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.emojies-bg img {
  width: 100%;
  height: 100%;
}


.game-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 10px;
  height: 50px;
  width: 50px;
}

.round {
  display: flex;
  justify-content: center;
}

.situation {
  width: 350px;
  min-height: 150px;
  max-height: 250px;
  padding: 10px;
}

.card-text {
  font-size: 18px;
  color: black;
}

.memes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -1.5vw;
}

.mymemes {
  display: block;
  width: 15vw;
  height: 15vw;
  margin: 5px;
}

.players {
  margin: 15px auto;
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin: 10px;
  text-shadow: 
            -1px -1px 0 #000,  
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.selectedMeme {
  display: block;
  width: 15vw;
  height: 15vw;
  margin: 5px;
}

.bottom-buttons {
  display: flex;
  justify-content: space-evenly;
}

.contacts {
  width: 95vw;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 900px) {
  .bottom-buttons button {
    width: 20vw;
    height: 3vw;
    font-size: 1vw;
  }
}


@media screen and (max-width: 900px) {
  .winners {
    margin-right: 5vw;
  }

  .game-rules {
    font-size: 3vw;
  }

  .mode {
    width: 10vw;
    height: 10vw;
  }

  .pc-bg {
    display: none;
  }

  .phone-bg {
    display: block;
  }

  .emojies-bg {
    width: 100vw;
    top: 0;
  }


  .selectedMeme {
    width: 25vw;
    height: 25vw;
    margin: 2px;
  }

  .memes-list {
    width: 100vw;
    margin-left: -3.5vw;
  }

  .mymemes {
    display: block;
    width: 24vw;
    height: 24vw;
    margin: 5px;
  }

  .situation {
    width: 80vw;
    min-height: 10vw;
    max-height: 40vw;
    padding: 10px;
  }

  .card-text {
    font-size: 4vw;
  }

  .room-link p{
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .pc-bg,
  .phone-bg {
    display: none;
  }

  .tablet-bg {
    display: block;
  }
}